{
  "version" : "2017-02-28",
  "operation" : "UpdateItem",
  "key" : {
    "id" : $util.dynamodb.toDynamoDBJson($ctx.args.input.id)
  },
  "update" : {
    "expression" : "SET #overlays = :overlays",
    "expressionNames": {
      "#overlays": "overlays",
    },
    "expressionValues": {
    	":overlays": $util.dynamodb.toDynamoDBJson($ctx.args.input.overlays)
    }
  }
}